hr {
    width: 150px;
}
.detailsParCol{
    display: inline-block;
    width: 23%;
    margin-bottom: 20px;
    background-color: white;
    margin-left: 20px;
    float: left;
    border-radius: 5px;
    min-height: 480px;
}
.LaunchImg{
	width: calc(100% - 30px);
    margin: 15px 0 8px;
    object-fit: contain;
    background-color: #f2f2f2;
    border: 0;
}

@media (min-width: 701px) and (max-width: 1025px)
 {
     .detailsParCol {
        min-height: 385px;
        font-size: 14px;
        width: 45%;
    }    
}
@media (max-width: 700px)
 {
     .detailsParCol {
        font-size: 14px;
        width: 100%;
        margin: 15px 0px 0px;
    }    
}