hr {
    width: 70%;
}
button, .btn-success:hover, .btn-success.focus, .btn-success:focus{
    background: #c5e09b;
    border: none;
    color: #000;
    padding: 3px 15px;
    box-shadow : none !important;
}
.filterSec{
    width: 50%;
    display: inline-block;
    text-align: center;
}
.filterSecLaunch{
    display: inline-block;
    text-align: center;
}
.containerTemp{
    padding: 0%;
}

@media (max-width: 700px)
 {
    button{
        padding: 3px 20px;
        
    }
    
}
@media (min-width: 701px) and (max-width: 1025px)
 {
     .col-sm-8 {
		flex: 0 0 66.666667% !important;
		max-width: 66.666667% !important;
	}
    .col-sm-4 {
		flex: 0 0 33.333333% !important;
		max-width: 33.333333% !important;
	}
}